/* .potterContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.person{
    width: 21%;
    height: 250px;
    border: 2px solid black;
    display: flex;
    margin-bottom: 10px;
}  */


#main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
   
    padding: 1rem;
}
#character{
    border: 10px solid black;
    margin: 0.375rem;
    width: 30%;
    
}
img{
    height: 90%;
}
h1{
    text-align: center;
}